* {
    width: 100%;
}

.header img {
    max-width: 100%;
    margin-top: 0%;
}

.tour-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid;
    margin: 10% 0% 0% 0%;

    .tour {
        display: flex;
        flex-wrap: wrap;
        border: solid;
        margin: 1%;
        width: 30%;
        padding: 0rem 5rem 15rem 0rem;

        .pic-1 {
            height: 60%;
            width: 115.3%;
        }

        .pic-2 {
            height: 60%;
            width: 115.3%;
        }

        .pic-3 {
            height: 60%;
            width: 115.3%;
        }

        .pic-4 {
            height: 60%;
            width: 115.3%;
        }

        .pic-5 {
            height: 60%;
            width: 115.3%;
        }

        .pic-6 {
            height: 60%;
            width: 115.3%;
        }
    }
}



.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .listitem {
        display: flex;
        justify-content: center;
        width: 10%;

        .tourbtn {
            margin: 0% 2%;

            button {
                height: 4rem;
                background-image: -webkit-linear-gradient(right, #084f93, #d88144, #ffc357);
                color: white;
                border: none;
                border-radius: 5px;

                &:hover {
                    background-image: -webkit-linear-gradient(left, #084f93, #d88144, #ffc357);
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }
}
