html body p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 1.2rem;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  /*colors*/
}
header {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  background-color: #084F93;
}
h1 {
  font-size: 3rem;
  color: #D88143;
}
.navbar {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  nav {
    display: flex;
  }
}
nav a {
  color: black;
  text-decoration: none;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  padding-left: 8%;
}
@media (max-width: 500px) {
  nav a {
    display: flex;
    margin-right: 3%;
    margin-top: 5%;
    justify-content: center;
  }
}
nav a:hover {
  color: gray;
}
nav .logo {
  display: flex;
  padding-left: 20px;
  max-width: 200px;
}
.everythig {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 5%;
  background-image: url("imgs/eze.png");
}
.Scott {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px;
  border-style: solid;
  border-color: #FFC356;
  border-radius: 3em ;
  padding-left: 5%;
  background: white;
}
.Jpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Jpic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.jpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width: 500px) {
  .Scott {
    flex-direction: column;
  }
}
.jname {
  font-size: 2em;
  font-weight: 200;
}
.githubJ {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Josh {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px;
  border-style: solid;
  border-color: #FFC356;
  border-radius: 3em ;
  padding-left: 5%;
  background: white;
}
.lname {
  font-size: 2em;
  font-weight: 200;
}
.Lpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Lpic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.lpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width: 500px) {
  .Josh {
    flex-direction: column;
  }
}
.githubL {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Charlie {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px;
  border-style: solid;
  border-color: #FFC356;
  border-radius: 3em ;
  padding-left: 5%;
  background: white;
}
@media (max-width: 500px) {
  .Charlie {
    flex-direction: column;
  }
}
.cname {
  font-size: 2em;
  font-weight: 200;
}
.Cpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Cpic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.cpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubC {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Paul {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px;
  border-style: solid;
  border-color: #FFC356;
  border-radius: 3em ;
  padding-left: 5%;
  background: white;
}
@media (max-width: 500px) {
  .Paul {
    flex-direction: column;
  }
}
.raname {
  font-size: 2em;
  font-weight: 200;
}
.Rpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Rapic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.rpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubR {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Blair {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px;
  border-style: solid;
  border-color: #FFC356;
  border-radius: 3em ;
  padding-left: 5%;
  background: white;
}
@media (max-width: 500px) {
  .Blair {
    flex-direction: column;
  }
}
.rname {
  font-size: 2em;
  font-weight: 200;
}
.ropx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Ropic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.ropp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubRo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Remington {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px;
  border-style: solid;
  border-color: #FFC356;
  border-radius: 3em ;
  padding-left: 5%;
  background: white;
}
@media (max-width: 500px) {
  .Remington {
    flex-direction: column;
  }
}
.saname {
  font-size: 2em;
  font-weight: 200;
}
.Spx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Spc {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.spp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubS {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Roger {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px;
  border-style: solid;
  border-color: #FFC356;
  border-radius: 3em ;
  padding-left: 5%;
  background: white;
}
@media (max-width: 500px) {
  .Roger {
    flex-direction: column;
  }
}
.bname {
  font-size: 2em;
  font-weight: 200;
}
.Bpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Bpic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.bpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubB {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.footcont {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 2rem;
  text-decoration: none;
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
.ASDFASF {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 2rem;
  text-decoration: none;
  padding: left 50%;
  padding-bottom: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #084F93;
  background-color: white;
}
